@model System.Collections.Generic.List<ASP_MVC.Models.DTO.ProductDto>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>

<table>
    <thead>
    <tr>
        <th scope="col">CatalogId</th>
        <th scope="col">ProductCode</th>
        <th scope="col">ProductName</th>
        <th scope="col">Picture</th>
        <th scope="col">UnitPrice</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.CatalogId</td>
            <td>@product.ProductCode</td>
            <td>@product.ProductName</td>
            <td>
                <img src="~/ProductImages/@product.Picture" alt="Product Image" width="100" height="100">
            </td>
            <td>@product.UnitPrice</td>
            <td>
                <a href="@Url.Action("DeleteProduct", "Product", new { id = product.Id })">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>